body, html  { height: 100%; }
html, body, div, span, applet, object, iframe,
/*h1, h2, h3, h4, h5, h6,*/ p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
del { text-decoration: line-through; }
table {border-spacing: 0; } /* IMPORTANT, I REMOVED border-collapse: collapse; FROM THIS LINE IN ORDER TO MAKE THE OUTER BORDER RADIUS WORK */
/*This is not important*/
body{
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#f1f2f3;
	width: 1400px;
	margin: 0 auto;
}

a {
	color: #666;
}

td {
	vertical-align: middle;
}

#container {
}

#stats {
	width: 1248px;
}

#serwis {
	width: 1248px;
}

#calendar {
	width: 1248px;
}

.trip0 {
}

.trip1 {
	background: #ededed;
}

#upload {
	width: 1220px;
	border:#ccc 1px solid;
	margin-left: 20px;
	margin-top: 20px;
}

#podsumowanie {
	width: 1220px;
	border:#ccc 1px solid;
	margin-left: 20px;
	margin-top: 20px;
}

.col {
	float: left;
	width: 410px;
}

table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	width:98%;
}

table th {
	padding:2px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	border-right:1px solid #999;
	border-left:1px solid #999;

	background: #ededed;
}

#stats table th:first-child{
	text-align: left;
	padding-left:2px;
}

#stats table tr td:first-child{
	text-align: left;
	padding-left:2px;
	border-left: 0;
}

table tr{
	text-align: center;
	padding-left:2px;
}

table tr td {
	padding:2px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
}

table tr:last-child td{
	border-bottom:0;
}

table tr:hover td{
	background: #f2f2f2;
}

table tr:hover .trip1 {
	background: #ededed;
}
